---
const { title, subtitle, image, steps } = Astro.props;
---

<section class="py-3">
  <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto">
    <div class="w-full flex-col justify-start items-center gap-2 inline-flex">
      <div class="w-full flex-col justify-start items-center gap-1 flex">
        <span class="text-center text-gray-500 text-base font-normal">
          {subtitle}
        </span>
        <h2 class="text-center text-[#f12603] text-4xl font-bold leading-normal">
          {title}
        </h2>
      </div>

      <div class="w-full flex lg:items-start items-center lg:gap-16 gap-8 flex lg:flex-row flex-col">
        <img class="object-cover" src={image} alt={title} />

        <div class="swiper mySwiper flex flex-col gap-3 w-full">
          <div class="swiper-wrapper">
            {steps.map((step, index) => (
              <div class="swiper-slide mb-20" key={index}>
                <div class="flex-col gap-4 flex">
                  <span class="text-[#f12603] text-base font-medium">
                    {index + 1} Step
                  </span>
                  <div class="flex-col gap-1.5 flex">
                    <h4 class="text-gray-900 text-xl font-semibold">
                      {step.title}
                    </h4>
                    <p class="text-gray-400 text-base">{step.desc}</p>
                    <figure class="max-w-lg mx-auto">
                      <img
                        src={step.img}
                        alt={step.caption}
                        class="rounded-lg h-auto max-w-full"
                      />
                      <figcaption class="mt-2 text-sm text-center text-gray-700">
                        {step.caption}
                      </figcaption>
                    </figure>
                  </div>
                </div>
              </div>
            ))}
          </div>
          <div class="swiper-pagination lg:justify-start justify-center"></div>
        </div>
      </div>
    </div>
  </div>
</section>